<div class="portlet box manager">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-title">
        <i class="fa fa-reorder"></i><%= t "manager" %>
      </span>
      <div class="action-container top pull-right">
        <%= link_to admin_orders_path(format: :csv) do %>
          <span class="btn btn-success">Export csv</span>
        <% end %>
        <%= link_to admin_orders_path(format: :xlsx) do %>
          <span class="btn btn-success">Export excel</span>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="search-container">
      <%= search_form_for [:admin, @q] do |f| %>
        <div class="col-md-3">
          <%= f.search_field :name_cont_any, class: "form-control",
            placeholder: t("keyword") %>
        </div>
        <%= f.submit class: "btn btn-default btn-search-top clear" %>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="data-container">
      <div class="grid-data" data-size="FULL" data-size-reset="FULL"
        data-title="<%= t "update" %>">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th><%= t "ord" %></th>
              <th><%= t "title" %></th>
              <th><%= t "created" %></th>
              <th><%= t "status" %></th>
              <th><%= t "function" %></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each_with_index do |order, index| %>
              <tr>
                <td class="text-center"><%= @ord+index %></td>
                <td>
                  <a class="act-view" href="javascript:;"
                    data-view="<%= admin_order_path(order)%>">
                    <%= order.user.name %>
                  </a>
                </td>
                <td><%= l order.created_at, format: :long %></td>
                <th class="<%= order.status == "pendding" ?
                  "text-danger" : order.status == "cancel" ?
                  "text-info" : "text-success" %>">
                  <%= order.status %></th>
                <td class="text-center">
                  <span class="action-order">
                    <% if order.status == "pendding" %>
                      <%= simple_form_for [:admin, order] do |f| %>
                        <%= f.hidden_field :status, value: :done %>
                        <%= f.button :submit, t("order.done"),
                          data: { confirm: t("sure")},
                          class: "btn btn-primary btn-xs" %>
                      <% end %>
                    <% end %>
                  </span>
                  <span class="action-order">
                    <% if order.status == "pendding" %>
                      <%= simple_form_for [:admin, order] do |f| %>
                        <%= f.hidden_field :status, value: :cancel %>
                        <%= f.button :submit, t("order.cancel"),
                          data: { confirm: t("sure")},
                          class: "btn btn-danger btn-xs" %>
                      <% end %>
                    <% end %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row wrap-paging">
          <div class="col-sm-5">
          </div>
          <div class="col-sm-7 text-right">
            <%= paginate @orders, theme: "twitter-bootstrap-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
