<div class="container">
  <div class="col-sm-12 content">
    <div class="col-sm-4">
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i><%= t "profile" %></h4>
        </div>
        <div class="panel-body">
            <ul class="title">
              <p><%= t "user.name" %></p>
              <%= @user.name %>
            </ul>
            <ul class="title">
              <p><%= t "user.email" %></p>
              <%= @user.email %>
            </ul>
            <ul class="title">
              <p><%= t "user.dob" %></p>
              <%= @user.birthday.present? ? @user.birthday.strftime(t "time.formats.short_date") :
                t("user.N/A") %>
            </ul>
            <ul class="title">
              <p><%= t "user.mobile" %></p>
              <%= @user.mobile.present? ? @user.mobile : t("user.N/A") %>
            </ul>
            <ul class="title">
              <p><%= t "user.address" %></p>
              <%= @user.address.present? ? @user.address : t("user.N/A") %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
