<div class="feedback">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-client alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <% if current_user.present? %>
    <%= render "feedbacks/feedback" %>
  <% else %>
    Please <%= link_to t("login"), new_user_session_path %> to leave feedback!
    If you don't have an account? <%= link_to "Signup", new_user_registration_path %>
  <% end %>
</div>
