<div class="portlet box detail-product">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-title">
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="data-container">
      <div class="col-md-4 left">
        <%= image_tag @product.avatar.url.nil? ?
          "noproduct.jpg" : @product.avatar %>
      </div>
      <div class="col-md-8 right">
        <ul class="info-product">
          <li><h1><%= @product.name %></h1></li>
          <li>
            <div class="col-md-4 no-padding-left"><%= t "product.price" %></div>
            <div class="col-md-8">
              <%= @product.price.nil? ? t("can_not_update") : "#{@product.price} $" %>
            </div>
          </li>
          <li>
            <div class="col-md-4 no-padding-left"><%= t "product.description" %></div>
            <div class="col-md-8"><%= @product.description %></div>
          </li>
          <li>
            <div class="col-md-4 no-padding-left"><%= t "product.quantity" %></div>
            <div class="col-md-8"><%= @product.quantity %></div>
          </li>
          <li>
            <div class="col-md-4 no-padding-left"><%= t "product.rate" %></div>
            <div class="col-md-8"><%= @product.rate %></div>
          </li>
          <li>
            <%= link_to t("product.add_cart"), "javascript:;",
              class: "btn btn-success btn-add-cart", data: {id: product.id,
              url: detail_orders_path} %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
